In [4]:
import pandas as pd

In [5]:
def read_data(df, wk):
    file = df + "_2023_w" + str(wk) + ".csv"
    data = pd.read_csv(file)
    return data

In [6]:
input_data = pd.DataFrame()
output_data = pd.DataFrame()
s_data = pd.read_csv("supplementary_data.csv")
for wk in range(1, 19):
    wk_str = '{:02d}'.format(wk)
    input_df = read_data('input', wk_str)
    output_df = read_data('output', wk_str)
    input_df['wk'] = wk
    output_df['wk'] = wk
    input_data = pd.concat([input_data, input_df], ignore_index=True)
    output_data = pd.concat([output_data, output_df], ignore_index=True)

/var/folders/js/d_qzf0bs4v1gw_dwxd4bhx7h0000gp/T/ipykernel_20010/3745984903.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  s_data = pd.read_csv("supplementary_data.csv")

In [7]:
input_data

,game_id,play_id,player_to_predict,nfl_id,frame_id,play_direction,absolute_yardline_number,player_name,player_height,player_weight,...,x,y,s,a,dir,o,num_frames_output,ball_land_x,ball_land_y,wk
0,2023090700,101,False,54527,1,right,42,Bryan Cook,6-1,210,...,52.33,36.94,0.09,0.39,322.40,238.24,21,63.259998,-0.22,1
1,2023090700,101,False,54527,2,right,42,Bryan Cook,6-1,210,...,52.33,36.94,0.04,0.61,200.89,236.05,21,63.259998,-0.22,1
2,2023090700,101,False,54527,3,right,42,Bryan Cook,6-1,210,...,52.33,36.93,0.12,0.73,147.55,240.60,21,63.259998,-0.22,1
3,2023090700,101,False,54527,4,right,42,Bryan Cook,6-1,210,...,52.35,36.92,0.23,0.81,131.40,244.25,21,63.259998,-0.22,1
4,2023090700,101,False,54527,5,right,42,Bryan Cook,6-1,210,...,52.37,36.90,0.35,0.82,123.26,244.25,21,63.259998,-0.22,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4880574,2024010713,4018,True,52457,23,left,50,Chase Claypool,6-4,227,...,41.61,17.57,7.81,0.58,267.16,296.92,18,32.139999,6.71,18
4880575,2024010713,4018,True,52457,24,left,50,Chase Claypool,6-4,227,...,40.82,17.52,7.92,0.19,266.40,292.80,18,32.139999,6.71,18
4880576,2024010713,4018,True,52457,25,left,50,Chase Claypool,6-4,227,...,40.03,17.46,7.92,0.69,265.49,290.54,18,32.139999,6.71,18
4880577,2024010713,4018,True,52457,26,left,50,Chase Claypool,6-4,227,...,39.24,17.36,7.94,1.46,263.26,287.74,18,32.139999,6.71,18
4880578,2024010713,4018,True,52457,27,left,50,Chase Claypool,6-4,227,...,38.45,17.24,7.89,2.06,261.04,285.48,18,32.139999,6.71,18